<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>My UOW</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">

        <!-- build:css({.tmp,myuow}) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="bower_components/angular-loading-bar/src/loading-bar.css">
        <!-- endbuild -->
        <link rel="stylesheet" href='//fonts.googleapis.com/css?family=Droid+Sans:400,700'>
</head>
<body ng-app="myuow">
    <div class="container">
    <!--[if lt IE 9]>
        <div class="alert alert-danger">This site doesn't work in this browser try using <a href="http://browsehappy.com/">a different one</a></div>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/html5shiv/dist/html5shiv.js"></script>
        <script src="bower_components/json3/lib/json3.min.js"></script>
        <script src="bower_components/respond/dest/respond.src.js"></script>
    <![endif]-->
        <div class="row row-offcanvas row-offcanvas-right ng-cloak">
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation" ng-controller="NavController">
                <div class="well sidebar-nav">
                    <ul class="nav">
                        <li class="nav-title">My UOW</li>
                        <li ui-sref-active="active"><a ui-sref="descriptions">Descriptions</a></li>
                        <li ui-sref-active="active"><a ui-sref="timetables">Timetables</a></li>
                        <li ng-if="auth.enticated"><a href ng-click="moodle()">Moodle</a></li>
                        <li ng-if="auth.enticated"><a href ng-click="logout()">Logout</a></li>
                        <li ng-if="!auth.enticated"><a href ng-click="login()">Login</a></li>
                    </ul>
                    <ul class="nav" ng-repeat="group in links">
                        <li class="nav-title">{{ group.title }}</li>
                        <li ng-repeat="link in group.links"><a href="{{ link.link }}" open-iframe>{{ link.title }}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-md-9 ng-cloak">
                <div ui-view></div>
            </div>    
        </div>
    </div>
    <footer>
        <p>My UOW (not endorsed at all by UOW) | <a href="https://github.com/venuatu/myuow">source</a> | <a href="https://github.com/venuatu/myuow/issues">issues</a></p>
    </footer>
    <div id="flashes" class="ng-cloak">
        <div ng-repeat="flash in flashes" class="alert alert-{{flash.level}}" ng-click="popflash($index)">{{ flash.message }}</div>
    </div>

    <!-- build:js({.tmp,myuow}) scripts/angular.js -->
    <script src="bower_components/angular/angular.js"></script>
    <!-- endbuild -->
    <!-- build:js({.tmp,myuow}) scripts/libs.js -->
    <script src="bower_components/fastclick/lib/fastclick.js"></script>
    <script src="bower_components/traceur-runtime/traceur-runtime.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script src="bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="scripts/collapse.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
    <!-- endbuild -->
    <!-- build:js(.tmp) scripts/site.js -->
    <script src="scripts/build.js"></script>
    <script src="scripts/templates.js"></script>
    <!-- endbuild -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-51944658-2', 'myuow.me');
    </script>
</body>
</html>
