<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>My UOW</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0">

        <!-- build:css({.tmp,myuow}) styles/main.css -->
        <link rel="stylesheet" href="styles/main.css">
        <link rel="stylesheet" href="bower_components/angular-loading-bar/src/loading-bar.css">
        <!-- endbuild -->
        <link rel="stylesheet" href='//fonts.googleapis.com/css?family=Droid+Sans:400,700'>
</head>
<body ng-app="myuow">
    <!--<div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">My UoW</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#/">Home</a></li>
                    <li><a href="#/about">About</a></li>
                </ul>
            </div>
        </div>
    </div>
    -->
    <div class="container ng-cloak">
    <!--[if lt IE 9]>
        <div class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</div>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/html5shiv/dist/html5shiv.js"></script>
        <script src="bower_components/json3/lib/json3.min.js"></script>
        <script src="bower_components/respond/dest/respond.src.js"></script>
    <![endif]-->
        <div class="row row-offcanvas row-offcanvas-right">
            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation" ng-controller="NavController">
                <div class="well sidebar-nav">
                    <ul class="nav">
                        <li class="nav-title">My UOW</li>
                        <li ng-class="{'active': location.indexOf('/description') === 0}"><a href="#/descriptions/{{ currentYear }}/CSCI">Descriptions</a></li>
                        <li ng-class="{'active': location.indexOf('/timetable') === 0}"><a href="#/timetables/{{ currentYear }}/CSCI">Timetables</a></li>
                        <li ng-if="auth.enticated"><a href ng-click="moodle()">Moodle</a></li>
                        <li ng-if="auth.enticated"><a href ng-click="logout()">Logout</a></li>
                        <li ng-if="!auth.enticated"><a href ng-click="login()">Login</a></li>
                    </ul>
                    <ul class="nav" ng-repeat="group in links">
                        <li class="nav-title">{{ group.title }}</li>
                        <li ng-repeat="link in group.links"><a href="{{ link.link }}" open-iframe>{{ link.title }}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-12 col-sm-9">
                <div ng-view></div>
            </div>    
        </div>
    </div>
    <footer>
        <p>My UOW | <a href="https://github.com/venuatu/myuow-data">source</a> | <a href="https://github.com/venuatu/myuow-data/issues">issues</a></p>
    </footer>
    <div id="flashes" class="ng-cloak">
        <div ng-repeat="flash in flashes" class="alert alert-{{flash.level}}" ng-click="popflash($index)">{{ flash.message }}</div>
    </div>

    <!-- build:js({.tmp,myuow}) scripts/angular.js -->
    <script src="bower_components/angular/angular.js"></script>
    <!-- endbuild -->
    <!-- build:js({.tmp,myuow}) scripts/libs.js -->
    <script src="bower_components/fastclick/lib/fastclick.js"></script>
    <script src="bower_components/lodash/dist/lodash.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-touch/angular-touch.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
    <script src="bower_components/angular-loading-bar/build/loading-bar.min.js"></script>
    <!-- endbuild -->
    <!-- build:js({.tmp,myuow}) scripts/site.js -->
    <script src="scripts/app.js"></script>
    <script src="scripts/services/auth.js"></script>
    <script src="scripts/services/flash.js"></script>
    <script src="scripts/directives/open-iframe.js"></script>
    <script src="scripts/directives/bind-src.js"></script>
    <script src="scripts/controllers/login.js"></script>
    <script src="scripts/controllers/nav.js"></script>
    <script src="scripts/controllers/frame.js"></script>
    <script src="scripts/controllers/description.js"></script>
    <script src="scripts/controllers/timetable.js"></script>
    <script src="scripts/templates.js"></script>
    <!-- endbuild -->
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-51944658-2', 'myuow.me');
    </script>
</body>
</html>
