<div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <h2 class="form-signin-heading">Please sign in</h2>
    </div>
    <div class="modal-body">
        <div class="container">
            <div ng-show="!!reason" class="alert alert-danger">{{ reason }}</div>
            <form class="form-signin form-group" ng-class="{ 'has-error': failed }" ng-submit="login(username, password)">
                <input type="text" class="form-control" placeholder="Username? (ab812)" required autofocus ng-model="username">
                <input type="password" class="form-control" placeholder="Password?" required ng-model="password">
                <button class="btn btn-lg btn-block" type="submit" ng-class="{ 'btn-primary': !working && !reason, 'btn-default': working, 'btn-danger': !!reason }">Sign in</button>
            </form>
            <p>We use a <a href="http://en.wikipedia.org/wiki/Man-in-the-middle_attack">man in the middle</a> attack between your computer and sols because it's the only way and we do not store your password (see the source at <a href="https://github.com/venuatu/myuow/blob/master/data/database.js#L9">data/database.js</a> and <a href="https://github.com/venuatu/myuow/blob/master/data/routes/login.js#L15">data/routes/login.js</a>)</p>

        </div>    
    </div>
</div>
</div>
