<div class="well">
    <form ng-submit="search(code)">
        <label class="control-label" for="subject-code" >Subject code</label>
        <div class="input-group">
            <input type="search" class="form-control" id="subject-code" ng-model="code" autofocus>
            <span class="input-group-btn"><button class="btn btn-primary"><i class="glyphicon glyphicon-search"></i> Search</button></span>
        </div>
    </form>
</div>

<div accordion class="subjects" close-others="false">
    <div accordion-group class="subject" ng-repeat="subject in subjects" is-open="open" ng-init="open = !$index">
        <div accordion-heading>{{ subject.code }}: {{ subject.name }} ({{ subject.session | lowercase }})</div>
        <div ng-if="open">
            <div class="course-info" ng-init="pullSubject(subject.id)">
                <p>{{ subjectData[subject.id].points }} credit points</p>
                <p><strong>Lecturers</strong>: {{ subjectData[subject.id].lecturers.join(', ') }}</p>
                <p><strong>Coordinators</strong>: {{ subjectData[subject.id].coordinators.join(', ') }}</p>
                <p><strong>Tutors</strong>: {{ subjectData[subject.id].tutors.join(', ') }}</p>
                <div class="wrap" ng-repeat="class in subjectData[subject.id].classes">
                    <strong>{{ class.name }}</strong>
                    <ul>
                        <li ng-repeat="entry in class.classes">
                            {{ entry.day }} {{ entry.start }} to {{ entry.finish }} at {{ entry.location }}, weeks: {{ entry.week | lowercase }}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="well" ng-show="subjects && !subjects.length">
    <strong>No results</strong>
</div>
